.navbar-inner
  .container
    %ul.nav
      %li
        %a{:href => "/"} BigTuna
      %li
        %a{:href => "/installation.html"} Installation
      %li
        %a{:href => "/configuration.html"} Configuration
      %li
        %a{:href => "/contributing.html"} Contributing
      %li
        %a{:href => "https://github.com/appelier/bigtuna"} Source
      %li
        %a{:href => "https://github.com/appelier/bigtuna/issues"} Issues
      %li
        %a{:href => "/license.html"} License
